<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>Compose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Open Door (3 Seconds)</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.yourcompany.doorapp.open3sec</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>Play</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Open Door</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.yourcompany.doorapp.open</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>Pause</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Close Door</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.yourcompany.doorapp.close</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Door Status</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.yourcompany.doorapp.status</string>
		</dict>
	</array>
	<key>UIApplicationSupportsMultipleScenes</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>external-accessory</string>
		<string>nearby-interaction</string>
	</array>
	<key>UISceneConfigurations</key>
	<dict>
		<key>UIWindowSceneSessionRoleApplication</key>
		<array>
			<dict>
				<key>UISceneClassName</key>
				<string>UIWindowScene</string>
				<key>UISceneDelegateClassName</key>
				<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
