<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>463140863</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59770</integer>
	</dict>
	<key>WFWorkflowClientVersion</key>
	<string>3025.100</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFTextActionText</key>
				<string></string>
				<key>UUID</key>
				<string>B13D2F80-2874-4D65-B5C9-452D9C8FEC8F</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFURL</key>
				<string>https://door.ammaaralam.com/pulse</string>
				<key>WFHTTPMethod</key>
				<string>POST</string>
				<key>WFHTTPBodyType</key>
				<string>JSON</string>
				<key>UUID</key>
				<string>173C2EFD-3067-41C2-9850-F96CCACC5E2F</string>
				<key>WFJSONValues</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>password</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>￼</string>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputUUID</key>
												<string>B13D2F80-2874-4D65-B5C9-452D9C8FEC8F</string>
												<key>Type</key>
												<string>ActionOutput</string>
												<key>OutputName</key>
												<string>Text</string>
											</dict>
										</dict>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFHTTPHeaders</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Accept</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>application/json</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>Category</key>
			<string>Parameter</string>
			<key>ActionIndex</key>
			<integer>0</integer>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Text</key>
			<string>Enter your door password. It stays in your copy of this shortcut.</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
	</array>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowName</key>
	<string>Door Opener (Button)</string>
</dict>
</plist>
